.sidebar{
  position: fixed; 
  left: 0; 
  bottom: 0; 
  top: 55px; 
  background-color: white;
  width: 72px; 
  z-index: 200;
  padding-top: 5px; 
}
.sidebarlink{
  background-color: white;
  height: 74px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
 

}
.sidebarlink:hover{
  background-color: lightgrey;
}
.sidebarlink img{
  height: 24px; 
  margin-bottom: 4px;
}
.sidebarlink div{
  
  font-size:10px; 
  
}